.swiper-container {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 266px;
    height: 148px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


