.content{margin-top:.13rem;}
.content ul{width:100%;padding-bottom:.22rem;}
.content ul li{width:100%;padding:.2rem 0 .1rem;background:#F8F8F8;margin-bottom:.2rem;}
.content ul li .con_t{display: flex;padding:0 .14rem;}
.content ul li .con_t .af_icon{width:.44rem;height:.44rem;border-radius: 50%;background: #D9D9D9;margin:0 .1rem;overflow: hidden;}
.content ul li .con_t .af_icon img {width:100%;height:100%;}
.content ul li .con_t .af_auth{width:3rem;}
.content ul li .con_t .af_auth .auth{font:.14rem/.22rem "Arial";color:#6F6E6E;}
.content ul li .con_t .af_auth .time{font:.1rem/2 "Arial";color:#A6A4A4;}
.content ul li .con_c{margin-top:.13rem;padding:0 .21rem;font:.14rem/.22rem "";color:#5E5E5E;}
.content ul li .con_c .all{margin-top:.18rem;}
.content ul li .con_pic{height:1.82rem;background:#fff;margin:.15rem .14rem;}
.content ul li .con_pic img{width:100%;height:100%;}
.content ul li .con_b{display:flex;justify-content: space-between;font:.12rem/.2rem "Arial";color:#5E5E5E;padding:0 .31rem;}
.content ul li .con_b .heart{margin-right:.05rem;}