.error{background:#FB901E;height:100%;text-align: center;}
.icon_user{padding-top:.68rem;width:100%;margin:0 auto;height:1.73rem;margin-bottom:.2rem;}
.page{height:.42rem;margin:.8rem auto;font:.24rem/.42rem "Arial";color:#fff;}