.mainhome {

}
.mainhome ul{
    padding-bottom: .5rem;
}
.mainhome ul li{
    width: 3.75rem;
    height: 1.5rem;
    background: #F2F2F2;
    margin-top: .18rem;
}

.mainhome ul li .main-img{
    float: left;
    width: 1.33rem;
    height: .88rem;
    margin: .31rem .1rem 0 .1rem;
    background: #ccc;
}

.mainhome ul li .main-img img{
    width:100%;
    height: 100%;
}

.mainhome ul li .main-article{
    float: left;
    margin-top: .33rem;
    width: 2.14rem;
}

.mainhome ul li .main-article p{
    font: .14rem/.22rem "";
    margin-bottom: .17rem;
}

.mainhome ul li .main-article span{
    font: .1rem/.15rem "";
    color: #ACAAAA;
}