.login_t{height:2.4rem;background:#F2F2F2;border-radius: .08rem;display: flex;justify-content: space-between;text-align: center;padding:.1rem .02rem 0;}
.login_t p{width:.99rem;height:.42rem;border-radius: .16rem;background:#E8E7E7;font:.16rem/.42rem "Arial";color:#646464;}
.login_t p.active{background:#FFB64B;color:#fff;}